apiVersion: v1
kind: Namespace
metadata:
  name: gaia-to-be-merged
---
apiVersion: v1
kind: Namespace
metadata:
  name: gaia-merged
---
apiVersion: v1
kind: Namespace
metadata:
  name: gaia-reserved

---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: gaia
  namespace: {{ .Release.Namespace }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gaia-resource-deployer
  namespace: {{ .Release.Namespace }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gaia
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: pml-manager
spec:
  selector:
    matchLabels:
      control-plane: pml-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: pml-manager
    spec:
      containers:
        - name: gaia
          image: {{ .Values.image.repository }}/gaia:{{ .Values.image.tag }}
          args:
            - --clustername={{ .Values.common.clusterName }}
            - --mcSource={{ .Values.common.mcSource }}
            - --promUrlPrefix={{ .Values.common.promUrlPrefix }}
            - --useHypernodeController={{ .Values.common.useHypernodeController }}
            - --topoSyncBaseUrl={{ .Values.common.topoSyncBaseUrl }}
          resources:
            limits:
              cpu: 100m
              memory: 30Mi
            requests:
              cpu: 100m
              memory: 20Mi
          env:
            - name: RESOURCEBINDING_MERGER_POST_URL
              value: {{ .Values.common.resourceBindingMergePostURL }}
          volumeMounts:
            - name: config
              mountPath: /etc/config/
              readOnly: true
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      nodeSelector:
        hypernode.cluster.pml.com.cn/node-role: System
      serviceAccountName: gaia
      volumes:
        - name: config
          configMap:
            name: gaia-config

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gaia-scheduler
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: pml-manager
spec:
  selector:
    matchLabels:
      control-plane: pml-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: pml-manager
    spec:
      containers:
        - name: gaia
          image: {{ .Values.image.repository }}/gaia-scheduler:{{ .Values.image.tag }}
          resources:
            limits:
              cpu: 100m
              memory: 30Mi
            requests:
              cpu: 100m
              memory: 20Mi
      serviceAccountName: gaia
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      nodeSelector:
        hypernode.cluster.pml.com.cn/node-role: System

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gaia-config
  namespace: {{ .Release.Namespace }}
data:
  gaia-prometheus_metrics.conf: |
    clusterCPUCapacity: sum(kube_node_status_capacity{resource="cpu"})
    clusterMemCapacity: sum(kube_node_status_capacity{resource="memory"})/1024
    clusterCPUAllocatable: sum(kube_node_status_allocatable{resource="cpu"})
    clusterMemAllocatable: sum(kube_node_status_allocatable{resource="memory"})/1024
    clusterCPUAvailable: sum(kube_node_status_allocatable{resource="cpu"})-sum(kube_pod_container_resource_requests{resource="cpu"})
    clusterMemAvailable: (sum(kube_node_status_allocatable{resource="memory"})-sum(kube_pod_container_resource_requests{resource="memory"}))/1024
